Makefile               text eol=lf linguist-language=Makefile

*.xml.dist             text eol=lf linguist-language=XML
*.json                 text eol=lf linguist-generated=false linguist-language=JSON
*.json.dist            text eol=lf linguist-language=JSON

*.lua                  text eol=lf linguist-language=Lua
*.php                  text eol=lf linguist-language=PHP

README.md              text eol=lf linguist-language=Markdown linguist-documentation
CONTRIBUTING.md        text eol=lf linguist-language=Markdown linguist-documentation
*.md                   text eol=lf linguist-language=Markdown linguist-documentation
LICENSE.txt            text eol=lf linguist-documentation
AUTHORS                text eol=lf linguist-documentation
TODO                   text eol=lf linguist-documentation

.editorconfig          text eol=lf
.gitignore             text eol=lf
.gitattributes         text eol=lf
.gitmodules            text eol=lf
.travis.yml            text eol=lf linguist-language=YAML
phpstan.neon           text eol=lf linguist-language=YAML

Dockerfile.            text eol=lf linguist-language=Dockerfile
Dockerfile.*           text eol=lf linguist-language=Dockerfile
docker-compose.yml     text eol=lf linguist-language=YAML

adm/supervisord/*.conf text eol=lf linguist-language=INI
adm/nginx/*            text eol=lf linguist-language=Nginx
